<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnc.ums.role.mapper.RoleMapper">

	<select id="query" parameterType="RoleBean" resultType="RoleBean">
		SELECT *
		FROM T_ROLE
		<where>
			<if test="namelike !=null and namelike !=''">
				AND NAME LIKE CONCAT('%','${namelike}','%' )
			</if>
			<if test="startTime !=null">
				AND CREATETIME &gt;= #{startTime}
			</if>
			<if test="endTime !=null">
				AND CREATETIME &lt;= #{endTime}
			</if>
		</where>
		ORDER BY ID
	</select>

	<select id="queryById" parameterType="int" resultType="RoleBean">
		SELECT
		*
		FROM T_ROLE WHERE ID=#{id}
	</select>

	<insert id="insert" parameterType="RoleBean">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO T_ROLE
		(
		NAME,
		CREATETIME,
		DESC
		)
		VALUES
		(
		#{name},
		now(),
		#{desc}
		)
	</insert>

	<delete id="delete" parameterType="int">
		DELETE FROM T_ROLE WHERE
		ID=#{id}
	</delete>

	<update id="update" parameterType="RoleBean">
		UPDATE T_ROLE SET
		DESC=#{desc}
		WHERE
		ID=#{id}
	</update>

	<select id="queryResources" parameterType="int" resultType="String">
		SELECT
		RESOURCESID
		FROM T_ROLE_RESOURCES
		WHERE
		ROLEID=#{roleId}
	</select>

</mapper>