.mt8f {
	margin-top: -8px;
}

.mt10f {
	margin-top: -10px;
}

.mt20f {
	margin-top: -20px;
}

.mb8f {
	margin-bottom: -8px;
}

.mb9f {
	margin-bottom: -9px;
}

.mb10f {
	margin-bottom: -10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}

.ml5 {
	margin-left: 5px;
}

.h600 {
	height: 600px;
}

.wh18 {
	width: 18px;
	height: 18px;
}

.pointer {
	cursor: pointer;
}

.png18 {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	cursor: pointer;
}